<section class="admin-dashboard">
  <h1>Admin Dashboard</h1>


  <div class="jumbotron">

    <h3 class="display-2"> Product Count: <%= @products %> </h3>

    <hr class="my-4">

    <h3 class="display-2"> Category Count: <%= @categories %> </h3>
  </div>
</section>