<div class="alert alert-info" role="alert">
  <h4 class="alert-heading">You stumble upon an empty cart in the Jungle</h4>
  <p>So far you have not found that perfect item. Until you do we'll keep this cart handy, ready to put things in!</p>
  <hr>
  <p class="mb-0"> Head back out to the <a href="/" class="alert-link">Jungle</a> in search of treasure.</p>
</div>