header {
  display: flex;
}


#jungle {
  color: rgb(3, 66, 22);
  font-weight: bold;
  padding: 10px 0 0 10px;
}

.card-view {
  margin-top: 100px;
  display: flex;
  justify-content: space-around;
}